* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@media only screen and (max-width: 750px) {
	.menu_1 {
		background-color: rgb(220, 49, 7);
		width: 100%;
		display: flex;
	}
	.menu_2 {
		/* background-color: rgb(220, 49, 7); */
		width: 100%;
		display: flex;
	}
	.menu_3 {
		/* background-color: rgb(220, 49, 7); */
		width: 100%;
		display: flex;
	}
	.menu_4 {
		background-color: rgb(220, 49, 7);
		width: 100%;
		display: flex;
	}
	.menu_1_blok {
		position: relative;
		/* background-color: beige; */
	}
	.bayroq {
		display: none;
	}
	.logo {
		position: relative;
		left: 80%;
	}
	.al_aziz {
		position: relative;
		font-size: 10px;
		top: 30%;
	}
	.phone_blok {
		position: relative;
		left: 25%;
		top: 10%;
	}
	.menu li {
		position: relative;
		display: block;
	}
	.li1 {
		position: relative;
	}
	.li2 {
		position: relative;
		top: 10px;
	}
	.li3 {
		position: relative;
		top: 20px;
	}
	.menu {
		position: relative;
	}
	.menu_1_blok {
		position: relative;
		width: 100%;
	}
	.menu_2_blok {
		position: relative;
		width: 100%;
	}
	.menu_4_blok {
		height: 1000px;
	}
	.menu_3_blok {
		position: relative;
		width: 100%;
		/* background-color: aqua; */
	}
	.menu_2 {
		background-color: rgb(239, 239, 243);
	}

	.menu {
		background-color: aqua;
		display: none;
	}
	.menu_2_blok {
		display: flex;
	}
	.telefon {
		font-size: 10px;
		display: block;
	}
	.vaqt {
		font-size: 10px;
	}
	.burger {
		position: relative;
		display: flex;

		width: 30px;
		height: 5px;
		border-radius: 10px;
		background-color: rgb(165, 165, 179);
		top: 18px;
	}
	.burger::before {
		content: "";
		position: absolute;
		width: 30px;
		height: 5px;
		border-radius: 10px;
		background-color: rgb(165, 165, 179);
		top: -10px;
	}
	.burger::after {
		content: "";
		position: absolute;
		width: 30px;
		height: 5px;
		border-radius: 10px;
		background-color: rgb(165, 165, 179);
		top: 10px;
	}
	/* activ*/
	.burger_logo.activ .burger {
		position: fixed;
		right: 10px;
		top: 20px;
		background-color: transparent;
	}
	.burger_logo.activ .burger::after {
		transform: rotate(45deg);
		top: 0;
	}
	.burger_logo.activ .burger::before {
		top: 0;
		transform: rotate(-45deg);
	}
	.burger_logo {
		position: relative;
		width: max-content;
		right: 1%;
		display: flex;
		/* background-color: aqua; */
	}
	.menu_4_blok.activ {
		display: none;
	}
	.menu.activ {
		position: fixed;
		width: 100%;
		height: 100vh;
		justify-content: center;
		align-items: center;
		top: 0;
		display: flex;
		background-color: rgba(39, 33, 33, 0.5);
	}
	.menu_4_blok img {
		display: none;
	}
	.menu_4_grid {
		width: 600px;
		height: max-content;
		display: block;
	}
	.grid_1 {
		height: 130px;
		border-bottom: 1px solid black;
		border-left: none;
	}
	.grid_2 {
		height: 150px;
		border-bottom: 1px solid black;
		border-left: none;
	}
	.grid_3 {
		height: 150px;
		border-bottom: 1px solid black;
		border-left: none;
	}
	.grid_4 {
		height: 150px;
		/* border-bottom: 1px solid black; */
		border-left: none;
	}
	.MENU_4_TEXT {
		color: black;
	}
	.text_4_menu {
		color: black;
	}
	.padval {
		height: 50px;
	}
	.grid_link {
		position: relative;
	}
	.map {
		width: 500px;
		height: 300px;
	}
	.grid_gallery {
		width: 700px;
		margin: 0 auto;
		display: block;
	}
	.grid1 {
		width: 100%;
		height: 500px;
	}
	.grid2 {
		width: 100%;
		height: 500px;
	}
	.grid3 {
		width: 100%;
		height: 500px;
	}
	.grid4 {
		width: 100%;
		height: 500px;
	}
	.grid5 {
		width: 100%;
		height: 500px;
	}
	.grid6 {
		width: 100%;
		height: 500px;
	}
}
